<!-- patients/templates/patients/add_patient.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient</title>
</head>
<body>
    <h1>Patient Details</h1>
    <h3>Record of a patient's medical details</h3>
    <form method="POST">
        {% csrf_token %}
        <h3>Consulting nurse</h3>
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
